* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {

    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
}

.grid-child {
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    margin: 0;
}

.button-container {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-top: 50px;
}

#create {
    display: block;
    padding: 5px;
    background-color: pink;
    border-radius: 3px;
    border: 1px solid red;
}

#clear {
    display: block;
    padding: 5px;
    background-color: pink;
    border-radius: 3px;
    border: 1px solid red;
}

#eraser {
    display: block;
    padding: 5px 25px;
    background-color: pink;
    border-radius: 3px;
    border: 1px solid red;
}